<!DOCTYPE html>
<html>
<head>
	<title>Study Online</title>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
	<link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
</head>
<body>
	<div class="container">
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills pull-right">
            {{#if user}}
            	<li role="presentation"><a href="/">Home</a></li>
              <li role="presentation"><a href="/users/apply">Apply for a Course</a></li>
           		<li role="presentation"><a href="/users/logout">Sign Out</a></li>
            {{else}}
	            <li role="presentation"><a href="/users/Login">Login</a></li>
	            <li role="presentation"><a href="/users/register">Sign Up</a></li>
            {{/if}}
          </ul>
        </nav>
        <h3 class="text-muted">Study Web Online</h3>
      </div>
      <div class="row">
        <div class="col-lg-12">
        	{{#if success_msg}}
        		<div class="alert alert-success">{{success_msg}}</div>
        	{{/if}}
        	{{#if err_msg}}
        		<div class="alert alert-danger">{{err_msg}}</div>
        	{{/if}}
        	{{#if err}}
        		<div class="alert alert-danger">{{err}}</div>
        	{{/if}}
          	{{{body}}}
        	
        </div>
      </div>

      <footer class="footer">
        <p>&copy; 2018 StudyOnline, Inc.</p>
      </footer>

    </div> <!-- /container -->

</body>
</html>