<h2 class="page-header">Admin Dashboard</h2>
<div class="form-group">
	<h4 class="page-header">View Student List</h4>
	<form method="post" action="/users/studentList">
			<button class="btn btn-primary">View</button>
	</form>
</div><hr>
<div class="form-group">
	<h4 class="page-header">View all Courses</h4>
	<form method="post" action="/admin/courseList">
			<button class="btn btn-primary">View</button>
	</form>
</div><hr>
<h4 class="page-header">Add Courses</h4>
<form method="post" action="/admin/addCourse">
	<div class="form-group"><input type="text" name="courseName" class="form-control" placeholder="Course Name"></div>
	<div class="form-group"><input type="text" name="courseDuration" class="form-control" placeholder="Course duration (Days)"></div>
	<div class="form-group"><input type="text" name="instructor" class="form-control" placeholder="Instructor Name"></div>
	<div class="form-group"><button type="submit" class="btn btn-primary"> Add </button></div>
</form><hr>
<h4 class="page-header">View Applied Courses</h4>
<form method="post" action="/admin/userCourses">
	<div class="form-group"><button type="submit" class="btn btn-info">View</button></div>
</form>