<h2 class="page-header">Course List</h2>
<div class="container">
	<div class="form-group">
		<form method="post" action="/users/apply">        
		  <table class="table table-hover">
		    <thead>
		      <tr>
		        <th>Course Name</th>
		        <th>Duration (Days)</th>
		        <th>Instructor</th>
		        <th></th>
		      </tr>
		    </thead>
		    {{#each data}}
			    <tbody>
			      <tr>
			        <td>
						{{#each this}}
							{{this.course_name}}
						{{/each}}				
					</td>
			        <td>	        	
						{{#each this}}
							{{this.course_dur}}
						{{/each}}				
					</td>
			        <td>
						{{#each this}}
							{{this.instructor}}
						{{/each}}				
					</td>
					<td>
						<button class="btn btn-primary" value="{{this.course_name}}" name="course">Apply</button>
					</td>
			      </tr>
			    </tbody>
			{{/each}}
		  </table>
		</form>
	</div>
</div>


		