<h2 class="page-header">Course List</h2>
<div class="container">            
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Course Name</th>
        <th></th>      
    </tr>
    </thead>
    {{#each data}}
	    <tbody>
	      <tr>
	        <td>
				{{#each this}}
					{{this.name}}
				{{/each}}				
			</td>
	        <td>	        	
				{{#each this}}
					{{this.email}}
				{{/each}}				
			</td>
	        <td>
				{{#each this}}
					{{this.course_name}}
				{{/each}}				
			</td>
	      </tr>
	    </tbody>
	{{/each}}
  </table>
</div>